@()
@layouts.html.default("Search for businesses"){
<form action='/results/businesses'>
	<div class="form-row form-group">
		<input placeholder="Review text" name="text" class="form-control form-control-lg">
	</div>
  <div class="form-row form-group">
    <input id="hidden-latitude" name="latitude" type="hidden">
    <input id="hidden-longitude" name="longitude" type="hidden">
    <input id="searchTextField" type="text" class="form-control form-control-md">
  </div>
	<select name="sortBy" class="form-row form-control form-group">
		<option value="">Sort by...</option>
		<option value="reviewCount">Sort by number of reviews</option>
		<option value="stars">Sort by number of stars</option>
	</select>
  <div class="form-row form-group form-check">
    <input id="representativeInput" class="form-check-input" type="checkbox" name="representative">
    <label for="representativeInput" class="form-check-label">Representative results</label>
  </div>
	<input type="submit" value="Search" class="btn btn-primary">
</form>

<a href='/search/reviews'>Or search for reviews instead...</a>

<script>
function initialize() {
  var input = document.getElementById('searchTextField');
  var autocomplete = new google.maps.places.Autocomplete(input);
  google.maps.event.addListener(autocomplete, 'place_changed', function () {
    var place = autocomplete.getPlace();
    document.getElementById('hidden-latitude').value = place.geometry.location.lat();
    document.getElementById('hidden-longitude').value = place.geometry.location.lng();
  });
  console.log('loaded google maps!');
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
}
