@(hits: List[ir.BusinessHit])
@layouts.html.default("Business results") {
<ul>
@for(hit <- hits) {
  <li class='card row mt-3' id='businessView'>
    <div class='card-body'>
      <h5 class='card-title'>@hit.name</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        @for(i <- 1 to Math.floor(hit.stars).toInt) {
        <i class="fas fa-star yelp-star"></i>
        }
        @for(i <- 1 to Math.ceil(hit.stars - Math.floor(hit.stars)).toInt) {
        <i class="fas fa-star-half yelp-star"></i>
        }
        <!-- @hit.stars stars -->
        | @hit.reviewCount reviews
      </h6>

      <p class='card-text'>
      @hit.allReviews.substring(0, 140)...
      </p>
    </div>
  </li>
}
</ul>
<style>
  .yelp-star {
    color: #f15b4f;
  }
</style>
}
