@(hits: List[ir.BusinessHit])
@import play.twirl.api.HtmlFormat
@layouts.html.default("Business results") {
@for(hit <- hits) {
  <div class='card row mt-3' id='businessView'>
    <div class='card-body'>
      <h5 class='card-title'>@hit.name</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <span class="stars-container">
          <span class="bg-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </span>
          <span class="fg-stars">
            @for(i <- 1 to Math.floor(hit.stars).toInt) {
            <i class="fas fa-star yelp-star"></i>
            }
            @for(i <- 1 to Math.ceil(hit.stars - Math.floor(hit.stars)).toInt) {
            <i class="fas fa-star-half yelp-star"></i>
            }
          </span>
        </span>

        <!-- @hit.stars stars -->
        | @hit.reviewCount reviews
      </h6>

      <p class='card-text expandable-text'>
      @Html(HtmlFormat.escape(hit.reviewText).toString.replace("\n", "<br />"))
      </p>
    </div>
  </div>
}
}
